 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --body-bg-color: #22212C;
  --text-color-black: #000000;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-border: #00FF00;
  --bg-pink: #CB92B1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  background-color: var(--body-bg-color);
}

.content__main {
  height: 100%;
  display: flex;
  gap: 40px;
  margin-inline: 40px;
  padding-block: 40px;
}

.section__profile {
  width: 348px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-cards);
  border-radius: 20px;
  margin-bottom: 30px;
}

.photo__profile {
  height: 128px;
  width: 128px;
  margin-block: 30px;
  border-radius: 50%;
  border: 3px solid var(--bg-border);
}

.user-name__profile {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-function__profile {
  margin-bottom: 49px;
}

.section__links {
  width: 348px;
  background-color: var(--bg-cards);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 30px 40px;
}

.links-group__description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links-group__description {
  margin-block: 20px;
}

.section__technology {
  width: 348px;
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px 20px;
  margin-bottom: 30px;
}

.technology__subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.group__tecgnology {
  display: flex;
  gap: 15px;
  margin-inline: 15px;
}
.technology-list__item {
  width: 86px;
  background-color: var(--bg-pink);
  color: var(--text-color-black);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  margin-top: 15px;
  padding-block: 8px 7px 
}

.section__experience {
  width: 348px;
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 19px 20px 30px;
  margin-bottom: 30px;
}

.experience__subtitle {
  font-size: 24px;
  margin-bottom: 30px;
}

.experience-list__item {
  list-style-type: disc;
  margin: 25px 40px 0;
}

.experience__location {
  font-size: 16px;
}

.experience__description {
  font-size: 14px;
}

.section__education {
  width: 348px;
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px 20px;
  margin-bottom: 58px;
}

.education__subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.education-list__item {
  list-style-type: disc;
  margin: 25px 40px 0;
}

.education__location {
  font-size: 16px;
}

.experience__location {
  font-size: 14px;
}

.projects {
  width: 100%;
}

.projects__search {
  background-color: var(--bg-cards);
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.projects__my {
  font-size: 20px;
  font-weight: bold;
}

.projects__github {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.project__github {
  width: 350px;
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px; 
}

.name__project {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  margin-bottom: 22px;
}

.description__project {
  font-size: 14px;
  margin-bottom: 32px;
}

.project__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-group__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.feather-git-branch {
  margin-left: 20px;
}

#repos {
  background-color: lightblue;
  width: 500px;
  height: 200px;
}

/* ---------------------------------------- media queries */

